.inRowDisplayLabel{
    display: inline-block;
    width: 100%;
    text-align: right;
}

.inRowDisplayInput{
    display: inline-block;
    width: 70%;
    text-align: left;
    max-width: unset !important;
    border: unset;
    margin: 5px;
    color: whitesmoke;
    background: black;
    border-width: 1px;
    border-style: solid;
    border-color: whitesmoke;
}

.indentText{
    text-indent: 5px;
}

.animationListMainDiv{
    text-align: center;
}
