select {
    display: block;
    margin: 0 auto;
    overflow-y: hidden;
    background-image: none;
    width: 225px;
    margin-bottom: 5px;
    background: black;
    color: whitesmoke;
}

.commandListMainDiv{
    margin-top: 5px;
    border-top: 3px dashed whitesmoke
}

.commandListBox{
    width: 80%;
    border: 1px solid whitesmoke;
    margin: auto;
    margin-bottom: 5px;
    padding-inline-start: 0px;
    list-style-type: none;
    min-height: 126px;
}

.selectedCommand{
    background: blue;
}

.disabledCommand{
    background: grey;
}

.buttonDiv {
    margin-top: 5px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.buttonDiv button {
    display: table-cell;
    text-align: center;
}

.no-select{
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}