.selectorMainDiv {
    margin: auto;
    margin-bottom: 10px;
    border: 3px solid;
    border-color: red;
    text-align: center;
    width: fit-content;
    min-width: 300px;
}

.selectorLabel {
    padding-right: 5px;
}

.selectorLableDiv {
    width: fit-content;
    text-align: left;
    margin: auto;
}

.saveButton{
    margin: 5px;
}

.selectorButton {
    margin: 5px;
}

.lightsToggle {
    margin: 5px;
}